body { font-family: 'Roboto Condensed', sans-serif; }

.main{
    background-color: #fafafa;
     padding: .5em;
     position: sticky;
     top: 0;
     height: 100vh;
}

.move {
    animation: move 2s;
}

@keyframes move {
    from { margin-right: 0px; }
    to { margin-right: 50px; }
  }

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .profile-header {
      font-size: 2rem;
      color: #4A4A4A;
      margin-top: 1;
  }

  .profile-details {
  
      line-height: 1.5em;
      color: #4A4A4A;
  }

  .social-net {
      display: flex;
      justify-content: center;
  }

  a {
      color: #061024;
       font-family: sans-serif;
  }
  
  a:hover { color: rgb(28, 28, 61); }

  .txt-role { color: #4A4A4A; }
  .txt-color { color: #061024;}
  .txt-color-2 { color: #FA041B;}
  #txt-last { color: #4A4A4A;}

  .btn-color {
    background-color: #061024;
    color: white;
    border-radius: 5px;
  }

  img { max-width: 100%;}

  .first-img {
      background-color: #061024;
      height: 110vh;
      overflow: hidden;
  }

  .second-img {
   background-color: #E8E8E8;
   height: 110vh;
   overflow: hidden;
  }

  .third-img {
  background-color: #FA041B;
  height: 110vh;
  overflow: hidden;
  }

  .row-two {
      display: grid;
      grid-template-columns: 1fr 2fr;
  }

  .min-row {
      display: grid;
      grid-template-columns: 1fr;
  }

  .current {
   line-height: 1.5em;
   color: lavender;
  }

  .title {
      font-size: 1.5rem;
  }

  .social {
      display: flex;
      justify-content: space-around;
  }
  
  .first-img img, .second-img img, .third-img img {
    transition: transform .5s ease-in-out;
    transform-origin: 0 0;

  }
  
  .first-img:hover img, .second-img:hover img, .third-img:hover img {
    transform: scale(1.1) translateY(-10%);
    /* filter: grayscale(100%); */
  }

  /* .first-img:hover, .second-img:hover, .third-img:hover {
    filter: grayscale(100%);
  } */

  .tools {
      align-items: center;
      justify-content: center;
  }

 footer {
   background-color: #061024;
   color: rgb(168, 164, 164)
  }

  footer ul {
      display: flex;
      justify-content: center;
  }

  .top {
    font-family: sans-serif;
      margin-top: 2em;
      text-align: center;
      color: rgb(168, 164, 164);
  }

  .bottom li {
      margin-bottom: 2em;
      margin-right: .5em;
  }

  @media (max-width: 1024px) {
    .first-img, .second-img, .third-img { height: 60vh;}
  }


  @media (max-width: 768px) {
  .row-two { grid-template-columns: 1fr; }

.main {
  position: unset;
  height:  60vh;
    }

.first-img, .second-img, .third-img { height: 60vh;}

  }

  @media (max-width: 576px) {
    .main { height:  100vh; }
    .first-img, .third-img { height: 75vh;}
    .second-img{ height: 65vh;}
    footer ul {
       flex-direction: column;
       align-items: center;
       margin-top: .5em;
    }

  }
